# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
FinalProject/Release/
tinyobjloader/Release/
Smooth_Hardware/Release/Smooth_Hardware.tlog/Smooth_Hardware.lastbuildstate
Smooth_Hardware/Release/
Smooth_Graphics/Release/
Smooth_Game/Release/
3DApps.opensdf
3DApps.sdf
