# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
FinalProject/Release/
tinyobjloader/Release/
Smooth_Hardware/Release/Smooth_Hardware.tlog/Smooth_Hardware.lastbuildstate
Smooth_Hardware/Release/
Smooth_Graphics/Release/
Smooth_Game/Release/
3DApps.opensdf
3DApps.sdf
FinalProject/Debug/
Smooth_Hardware/Debug/Smooth_Hardware.tlog/BscMake.command.1.tlog
Smooth_Hardware/Debug/Smooth_Hardware.tlog/BscMake.write.1.tlog
Smooth_Hardware/Debug/
Smooth_Graphics/Debug/
tinyobjloader/Debug/
Smooth_Game/Debug/
FinalProject/Assets/settings.cfg
FinalProject/Assets/settings.cfg
FinalProject/Assets/settings.cfg
Potential.opensdf
Potential.sdf
FinalProject/Assets/settings.cfg
FinalProject/Assets/settings.cfg
FinalProject/Assets/settings.cfg
